<div class = "container">
<%= link_to "Creer un gossip !", new_gossip_path, class: "btn btn-lg btn-primary" %><br>
    <h1>le contenu du gossip:</h1>
<p>
    <a href="<%= gossip_path%>" class= "btn btn-lg btn-danger" data-confirm="êtes-vous sur?"
    data-method="DELETE">Supprimmer</a>
</p>
</div>