<%= @gossips.each do |gossip|%>
        <p><%= gossip.title %></p>
        <p><%= gossip.title %></p>
        <a href="/" class= "btn btn-lg btn-danger" data-confirm="êtes-vous sur?"
    data-method="DELETE">Supprimmer</a>
<% end %>